* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

.nav-item {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bolder;
}

.nav-item:hover {
  border-bottom: 2px solid cyan;
}

.header {
  color: #00bfd8;
  font-size: 3rem;
  font-family: turquoise;
  font-weight: bolder;
}

.tagline {
  color: #00bfd8;
  font-size: 3rem;
  font-family: turquoise;
  font-weight: bolder;
}